html, body, h1{
    margin:0;
    padding:0;

}


nav{
    width:100%;
    height:80px;
    padding-left:3%;
    padding-right:3%;


}

header{
    width:100%;
    height:600px;
   background-image: url("../assets/logic_no_pressure_home_cover_image.png");
   background-position: center;
   background-size:cover;
    padding-right:10%;
    padding-left:10%;
    font-family: 'Lato', sans-serif;
}

header h2{
    font-size:35px;
    margin-bottom:5px;
    font-family: 'Lato', sans-serif;
    font-weight:300;
    color:white;
}

header h1{
    font-size:55px;
    margin-bottom:70px;
    font-family: 'Lato', sans-serif;
}


.overlay1{
    
   width:100%;
    height:380px;
    text-align:left;
    padding-left:15px;
    padding-top:25px;
    margin-top:5px;
    margin-right:100px;
    background-color: white rgba(0,0,0,0,5)  ;
        opacity:0,6;
    

}.col-box-fet{
    width:100%;
    height:350px;
    background-color:lightgrey;
    text-align:left;
    padding-top:10px;
    padding-right:30px;
    margin-top:25px;
    color:black;
    

}

.social11{
    width:40px;
    height:40px;
    float:right;
    margin:5px;
    text-align:center;
    padding-top:4px;
    font-weight:bold;
    color:white;
    border-radius:50%;
    padding-left:5px;
    padding-bottom:0px;
    float:center;
    background-image: url("../assets/heart_icon.svg");
    background-position:center;
    background-size:cover;
    

}

.slider{
    width:35px;
    height:35px;
    float:right;
    margin:5px;
    text-align:center;
    padding-top:1px;
    font-weight:bold;
    color:white;
    border-radius:50%;
    padding-left:5px;
    padding-bottom:1px;
    float:center;
  
   
    

}


.normal1{
    border:2px solid black;
    color:white;
    background-image: url("../assets/left_arrow_icon.svg");
    background-position:center;
    background-size:cover;
   
    

}

.normal1:hover{
    cursor:pointer;
    background-color: white;
    color:black;
    border:2px solid black;
    padding-top:5px !important;
}

.inverted2{
    border:2px solid black;
    padding-top:5px !important;
    background-image: url("../assets/right_arrow_icon.svg");
    background-position:center;
    background-size:cover;
    
}

.inverted2:hover{
    cursor:pointer;

color:white;



}


.active{

    color:white;
}

footer{
    width:100%;
    height:80px;
    background-color:black;
    color:white;
    text-align:center;
    padding-left:8%;
    padding-right:8%;

}

section{
    width:100%;
    padding-left:10%;
    padding-right:10%;
    padding-top: 25px;
    padding-bottom:10px;
    background-color: black;
    color:white;
}




.logo{
    width:200px;
    float:left;
    height:50px;

}
.logo-con{
    width:100%;
    text-align:center;
    margin-top:15px;
}

.logo-con img{
    width:80%;
    
}

.logo-btm{
    width:200px;
    float:left;

}
.logo-con-btm{
    width:100%;
    text-align:center;
    margin-top:15px;
}

.logo-con-btm img{
    width:80%;
    
}

.copyright{
    width:200px;
    float:left;

}
.copyright-con{
    width:100%;
    text-align:center;
    margin-top:25px;
}

.copyright-con img{
    width:20%;
    
}

.logo-image{
    width:200px;;
    height:60px;
    background-image: url("../assets/stream_logo_black.png");
    background-position:center;
    background-size:cover;
    text-align:center;
    padding-top:140px;
    padding-top:25px;
    margin-top:15px;
    float:left;
    
    
   
}

.nav-con{
    width:550px;
    height:50px;
    float:center;
    margin-top:15px;
    padding-top:25px;
color:black;
}

.nav-con ul{
    list-style:none;

}

.nav-con li{
    float:left;
    height:26px;
    color:black;
    border-radius:5px;
    padding-left:20px;
    padding-right:20px;
    margin-right:10px;
    margin-left:10px;
    padding-top:8px;

}

.nav-con li:hover{
    background-color:black;
    color:white;
    cursor:pointer;

}




.btn-three{
    width:196px;
    height:31px;
    border: 2px solid  blue;
    background-color:blue;
    border-radius:35px;
    text-align:center;
    padding-top:15px;
    color:white;
    font-weight: bold;
    margin-bottom:20px;
}

.btn-three:hover{
    cursor:pointer;
    background-color:white;
    color:blue;
    

}

.btn-four{
    width:196px;
    height:31px;
    border: 2px solid  rgb(20, 20, 22);
    background-color:white;
    border-radius:35px;
    text-align:center;
    padding-top:15px;
    color:black;
    font-weight: bold;
    margin-bottom:20px;
}

.btn-four:hover{
    cursor:pointer;
    background-color:white;
    color:black;
    

}

.social-media{
    width:500px;
    height:35px;
    margin-top:15px;
    float:right;
    

}

.social1{
    width:35px;
    height:35px;
    float:right;
    margin:5px;
    text-align:center;
    padding-top:5px;
    font-weight:bold;
    color:white;
    border-radius:50%;
    padding-left:5px;
    padding-bottom:1px;
    float:center;
    background-image: url("../assets/facebook.png");
    background-position:center;
    background-size:cover;

}

.social2{
    width:35px;
    height:35px;
    float:right;
    margin:5px;
    text-align:center;
    padding-top:5px;
    font-weight:bold;
    color:white;
    border-radius:50%;
    padding-left:5px;
    padding-bottom:1px;
    float:center;
    background-image: url("../assets/insta.png");
    background-position:center;
    background-size:cover;
}

.social3{
    width:35px;
    height:35px;
    float:right;
    margin:5px;
    text-align:center;
    padding-top:5px;
    font-weight:bold;
    color:white;
    border-radius:50%;
    padding-left:5px;
    padding-bottom:1px;
    float:center;
    background-image: url("../assets/twitter.jpg");
    background-position:center;
    background-size:cover;

}

.social4{
    width:35px;
    height:35px;
    float:right;
    margin:5px;
    text-align:center;
    padding-top:5px;
    font-weight:bold;
    color:white;
    border-radius:50%;
    padding-left:5px;
    padding-bottom:1px;
    float:center;
    background-image: url("../assets/youtube.jpg");
    background-position:center;
    background-size:cover;

}



.social:hover{
    background-color:white;
color:white;
cursor:pointer;
}

.col-box1{
    width:200px;
    height:200px;
    background-image:url("../assets/blame_it_on_baby_album_cover.png");
    background-position: center;
    background-size:cover;
    text-align:center;
    padding-top:15px;
    padding-right:30px;
   
    margin-right:30px;
    
    
    
}

.album-overlay{
    width:200px;
    height:50px;
    background-color:white rgba(0,0,0,0,5) ;
    padding-top:80px;
    opacity:0;
}

.album-overlay:hover{
    cursor:pointer;
    opacity:1;
}

.album-icon{
    width:60px;
    height:60px;
    background-image:url("../assets/play_icon.svg");
    background-position: center;
    background-size:cover;
    border-radius:30px;
    margin:0 auto;
    float:top;
}

.album-content{
    width:100%;
    height:45px;
    background-color:rgba(239, 239, 244, 0.697);
    
    color:black;
    padding-top:9px;
    float:bottom;
    text-align:left;
    
}

.social111{
    width:30px;
    height:30px;
    float:right;
    margin:5px;
    text-align:center;
    margin-bottom:5px;
    font-weight:bold;
    color:white;
    border-radius:50%;
    padding-left:5px;
    padding-bottom:5px;
    background-image: url("../assets/heart_icon.svg");
    background-position:center;
    background-size:cover;
    

}

.album-content p{
    padding-bottom:5px;
}

.col-box2{
    width:200px;
    height:200px;
    background-image:url("../assets/circles_album_cover.png");
    background-position: center;
    background-size:cover;
    text-align:center;
    padding-top:15px;
    padding-right:30px;
   
    margin-right:30px;
    
    
}

.col-box3{
    width:200px;
    height:200px;
    background-image:url("../assets/happy_thoughts_album_cover.png");
    background-position: center;
    background-size:cover;
    text-align:center;
    padding-top:15px;
    padding-right:30px;
    
    margin-right:30px;
    
    
    
}

.col-box4{
    width:200px;
    height:200px;
    background-image:url("../assets/kanye_album_cover.png");
    background-position: center;
    background-size:cover;
    text-align:center;
    padding-top:15px;
    padding-right:30px;
    
    margin-left:30px;
    
    
}


.col-box5{
    width:200px;
    height:200px;
    background-image:url("../assets/kod_album_cover.png");
    background-position: center;
    background-size:cover;
    text-align:center;
    padding-top:15px;
    padding-right:30px;
    
    margin-right:30px;
    
    
    
    
}

.col-box6{
    width:200px;
    height:200px;
    background-image:url("../assets/low_end_theory_album_cover.png");
    background-position: center;
    background-size:cover;
    text-align:center;
    padding-top:15px;
    padding-right:30px;
    
   
    
    
    
    
}

.col-box7{
    width:200px;
    height:200px;
    background-image:url("../assets/music_to_be_murdered_by_album_cover.png");
    background-position: center;
    background-size:cover;
    text-align:center;
    padding-top:15px;
    padding-right:30px;
    
    margin-right:30px;
    
    
}

.col-box8{
    width:200px;
    height:200px;
    background-image:url("../assets/my_favourite_mix_album_cover.png");
    background-position: center;
    background-size:cover;
    text-align:center;
    padding-top:15px;
    padding-right:30px;
   
    margin-right:30px;
    
    
    
    
}

.col-box9{
    width:200px;
    height:200px;
    background-image:url("../assets/no_pressure_album_cover.png");
    background-position: center;
    background-size:cover;
    text-align:center;
    padding-top:15px;
    padding-right:30px;
    
    margin-right:30px;
    
    
    
    
}

.col-box10{
    width:200px;
    height:200px;
    background-image:url("../assets/restoration_album_cover.png");
    background-position: center;
    background-size:cover;
    text-align:center;
    padding-top:15px;
    padding-right:30px;
    
    margin-right:30px;
    
    
    
    
}

.col-box11{
    width:200px;
    height:200px;
    background-image:url("../assets/revenge_album_cover.png");
    background-position: center;
    background-size:cover;
    text-align:center;
    padding-top:15px;
    padding-right:30px;
   
    margin-right:15px;
    
    
    
    
}

.col-box12{
    width:200px;
    height:200px;
    background-image:url("../assets/wu_tang_album_cover.png");
    background-position: center;
    background-size:cover;
    text-align:center;
    padding-top:15px;
    padding-right:30px;
   
    
    
    
    
}







.col-box3 text{
    padding-top:10px;
    padding-right:10%;
}

.text p{
    margin-top:20px;
    font-family: 'Lato', sans-serif;
    
}

.text h2{
    font-size:25px;
    font-style:italic;
    
}

.col-box1 img{
    width:100%;
    height:250px;
    padding-top:25px;
    margin-top:25px;
    margin-right:150px;
}
.col-box2 img{
    width:100%;
    height:250px;
    padding-top:25px;
    margin-top:25px;
    margin-right:150px;
    padding-bottom:10px;
}

.col-box img{
    width:100%;
    height:380px;
    padding-top:25px;
    margin-top:25px;
    margin-right:150px;
}
.text{
    padding-top:50px;
    padding-right:10%;
}

.text p{
    margin-top:20px;
    font-family: 'Lato', sans-serif;
    
}

.text h2{
    font-size:25px;
    font-style:italic;
    
}

.button-group{
    width:400px;
    height:50px;
}

.button{
    width:150px;
    height:40px;
    text-align:center;
    padding-top:7px;
    font-weight:bold;
    float:left;
    margin-top:10px;
    border-radius:25px;
    margin-right:10px;
}

.normal{
    background-color:black;
    color:white;

}

.normal:hover{
    cursor:pointer;
    background-color: white;
    color:black;
    border:2px solid black;
    padding-top:5px !important;
    
}

.inverted{
    border:2px solid black;
    padding-top:5px !important;

}

.inverted:hover{
    cursor:pointer;
background-color: black;
color:white;

}

.active{
    background-color:black !important;
    color:white;
}

.main{
    color: red;
    font-size: 50px;
}

.sub{
    color:white;

}

.text{
    font-style: italic;

}

.box{
    width:200px;
    height: 110px;
    background-color: grey;
    text-align: center;
    margin-top:50px;
    margin-left:50px;
    padding-top:90px;

}




.btn-five{
    width:255px;
    height:50px;
    border: 2px solid black;
    padding-top:1px;
    padding-left:5px;
    border-radius:53px;
    padding-bottom:10px;
    float:right;
    margin-top:-30px;
}

.btn-five:hover{
    cursor:pointer;

}

.btn-five .icon{
    width:50px;
    height:35px;
   
    border-radius:50%;
    text-align:center;
    padding-top:10px;
    color:white;
    font-weight:bold;
    float:left;
}

.btn-five .text{
    margin-top:-35px;
    font-weight:bold;
    float:left;
    margin-left:20px;
    text-align:center;
}

